<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bendatube | ToS</title>
    <link rel="stylesheet" href="/public/css/root.css">
    <link rel="stylesheet" href="/public/css/tos.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">
    <link rel="manifest" href="/public/img/site.webmanifest">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="logo">
        <img src="/public/img/bendatube.svg">
    </div>
    <div class="tos">
        <h1>Indice</h1>
        <br>
        <div class="indice">
            <ol> <!-- 1 -->
                <li><a href="#termini">Termini</a></li>
                <ol> <!-- 1.2 -->
                    <li><a href="#why">Perchè BendaTube?</a></li>
                    <li><a href="#prerogative">Prerogative</a></li>
                    <ol> <!-- 1.2.1 -->
                        <li>Sicurezza</li>
                        <li>Cookie</li>
                        <li>Sorgente</li>
                        <li>Privacy</li>
                        <li>Features</li>
                        <ol><!-- 1.2.1.1 -->
                            <li>Pagina di stato</li>
                            <li>Traffico dati</li>
                            <li>Responsive</li>
                            <li>Performance</li>
                        </ol>
                    </ol>
                    <li><a href="#thanks">Ringraziamenti</a></li> <!-- 1.3 -->
                    <ol> <!-- 1.3.1 -->
                        <li>Staff</li>
                        <li>Strumenti</li>
                    </ol>
                </ol>
                <li><a href="#condizioni">Condizioni</a></li><!-- 2 -->
                <ol> <!-- 2.2 -->
                    <li><a href="#moderating">Regolamento</a></li>
                    <ol> <!-- 2.1.1-->
                        <li>Servizio</li>
                        <li>Contenuti</li>
                        <li>Utenza</li>
                        <li>Coprifuoco</li>
                    </ol>
                </ol>
            </ol>
        </div>

        <!-- contenuti -->

        <ol> <!-- 1 -->
            <li><h1 id="termini">Termini</h1></li>
            <ol> <!-- 1.2 -->
                <li>
                    <h2 id="why">Perchè BendaTube?</h2>
                    <p>BendaTube è un servizio di cloud-storage privato, finalizzato alla condivisione di file multimediali in un network confidenziale che può interagire socialmente con i contenuti. Il servizio non punta ad essere un sostituto di nessun tipo di attività - non intendiamo traslare il vostro traffico quotidiano nel nostro database - ma veste l’opportunita e i vantaggi che un componente aggiuntivo può fornire ad un network privato come BendaRossa:
                    </p>
                    <ul>
                        <li>
                            Archivio privato: la registrazione necessita di un autenticazione ferrea al fine di garantire un’entrata consensuale al network (questione esposta nel punto 1.2.1);
                        </li>
                        <li>
                            Documenti indicizzati: il vantaggio citato è esponenzialmente significativo rispetto al tempo. Un archivio privato indicizzato può facilitare il tracciamento dei contenuti caricati che a lungo termine possono perdersi facilmente;
                        </li>
                        <li>
                            Completa autonomia: lo staff è pronto ad accogliere qualsiasi features vogliate o idee proponete e  considereremo attivamente le vostre segnalazioni ad eventuali bug;
                        </li>
                        <li>
                            Memoria: visitare un cloud, significa non porre la propria memoria di massa al mantenimento dei file che vi servono.
                        </li>
                    </ul>
                </li>
                <li><h2 id="prerogative">Prerogative</h2></li>
                <ol> <!-- 1.2.1 -->
                    <li>
                        <h3>Sicurezza</h3>
                        <p>Nonostante l’infrastruttura fisica limitata e la discreta abilità difensiva, il servizio possiede una sicurezza efficiente e funzionale, che possano ostacolare eventuali malintenzionati.
                        </p>
                    </li>
                    <li>
                        <h2>Cookie</h2>
                        <p>Il servizio beneficia di un cookie crittografato che verrà iniettato nella memoria cache del tuo browser dopo l’autenticazione. Ricordiamo che HTTP è un protocollo stateless, ciò significa che la visitazione di una pagina - anche restando sullo stesso dominio - sarà anonima in ogni caso. Il cookie serve pressoché a non effettuare il login ad ogni pagina che visitate o ad ogni strada di dominio che percorrete. La checkbox “Remember Me” presente nel modulo di login, vi permette di cambiare le impostazioni del cookie:
                        </p>
                        <ul>
                            <li>OFF: il cookie di sessione NON verrà memorizzato nel database, di conseguenza godrete dell’autenticazione automatica fino alla chiusura del browser, l’evento che svuota l’intera memoria cache di quest’ultimo;
                            </li>
                            <li>ON: il cookie di sessione verrà memorizzato lato server nel database e lato client nella local storage del vostro browser, diversa dalla cache che viene svuotata all’aborto di quest’ultimo. Vi riconoscerà fino al momento in cui decidete di fare il logout: un nuovo login sarà l’unico modo per sfornarne uno nuovo.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>Sorgente</h3>
                        <p>Per ora, rimaniamo diffidenti a pubblicare l’intera sorgente rendendo il servizio open-source. Non siamo fisicamente pronti ad affrontare un attacco basato sulle analisi dei nostri script.</p>
                    </li>
                    <li>
                        <h3>Privacy</h3>
                        <p>I vostri dati sensibili sono crittografati. Ci riferiamo in particolare alla password. Ciò ci impedisce di ricordartela in caso la dimenticassi. Tuttavia, siamo in grado tramite una procedura diretta sul server di reimpostartela.
                        </p>
                    </li>
                    <li>
                        <h3>Features</h3>
                    </li>
                    <ol><!-- 1.2.1.1 -->
                        <li>
                            <h3>Pagina di stato</h3>
                            <p>La nostra pagina di stato ufficiale può fornirvi, al momento del bisogno, l’andamento tecnico della frammentazione dell’intero servizio. Non ha funzionalità in tempo reale, ma a breve termine.
                            </p>
                        </li>
                        <li>
                            <h3>Traffico dati</h3>
                            <p>L’intero traffico dati è compresso, per garantire qualità in velocità e basso consumo di dati mobili.
                            </p>
                        </li>
                        <li>
                            <h3>Responsive</h3>
                            <p>Il servizio è responsive e possiede una retrocompatibilità sui browser più comuni. L’utilizzo da cellulare è fattibile, ma ne sconsigliamo l’utilizzo longevo.
                            </p>
                        </li>
                    </ol>
                </ol>
                <li><h2 id="thanks">Ringraziamenti</h2></li> <!-- 1.3 -->
                <ol> <!-- 1.3.1 -->
                    <li>
                        <h3>Staff</h3>
                        <p>Lo staff spera nella vostra permanenza e nel complementare feedback positivo. Il team di sviluppo riunisce rispettivamente:
                        </p>
                        <ul>
                            <li>Christian Bossio: attività full-stack, lato server/lato client, back-end e sicurezza incorporata;
                            </li>
                            <li>Francesco Nisi: attività grafiche, lato client, front-end;
                            </li>
                            <li>Riccardo Pica: attività di configurazione del server, addetto all’amministrazione di quest’ultimo;
                            </li>
                            <li>Natan Pernice: il motivo per il quale state leggendo questi termini (lo sappiamo tutti che nessuno li leggera' per davvero -Nisi). </li>
                        </ul>
                    </li>
                    <li>
                        <h2>Strumenti</h2>
                        <p>I ringraziamenti per gli strumenti vanno esclusivamente a Riccardo Pica che ci offre una porta del suo server per ospitare il servizio.</p>    
                    </li>
                </ol>
            </ol>
            <li><h1 id="condizioni">Condizioni</h1></li><!-- 2 -->
            <ol> <!-- 2.2 -->
                <li><h2 id="moderating">Regolamento</h2></li>
                <ol> <!-- 2.1.1-->
                    <li><h3>Servizio</h3></li>
                    <li>
                        <h3>Contenuti</h3>
                        <p>Comportatevi bene
                        </p>
                    </li>
                    <li>
                        <h3>Utenza</h3>
                        <p>L'utenza nel principio dovrebbe essere accomunata dalla sua attività costante o conoscenze con Benda Rossa. Questo auspicabilmente deve frenarvi da condividere il dominio/l'indirizzo IP del server/la chiave segreta. La sorgente è già essere preparata a gestire un entrata estranea, ma vi preghiamo di chiamarci per ogni cosa che può capitare.
                        Correlato strettamente ai contenuti, se effettivamente si incorresse in una situazione dove il network perda la sua privacy, abbiamo la possibilità di auto distruggere il servizio e le relative tracce. 
                        </p>
                    </li>
                    <li>
                        <h3>Coprifuoco</h3>
                        <p>Non assicuriamo un servizio always-on 24/7, principalmente per il dispendio elettrico del server o per motivi legati all'amministratore Pica. Sarà lui a decidere l'orario di servizio e dovrete accettarlo.
                        </p>
                    </li>
                </ol>
            </ol>
        </ol>
    </div>
    
    <a href="/login">
        <button class="acceptToS">Accetto i termini e condizioni</button>
    </a>

    <script src="/public/js/tosButton.js"></script>
</body>
</html>